<div class="full-height-parent">
  <md-nav-list>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
    <md-list-item>
      <img mdListAvatar src="./assets/Smiling-Man-1.jpg">
      <h3 mdLine><b>Brian</b></h3>
      <div mdLine class="flex-container">
        <span mdLine class="message-snippet"> What is status of my order, answer me as soon as posible? </span>
      </div>
    </md-list-item>
  </md-nav-list>
</div>
